body{
    background-color:  hsl(217, 54%, 11%);
   
}


.NFT{
    background-color:  hsl(216, 50%, 16%);
    border-radius: 18px;
    box-shadow:0px 0px 10px 15px hsl(218, 63%, 8%), 0px 0px 50px 30px hsl(218, 42%, 11%);
    width:28%;
    margin:auto;
    padding:20px;
}

.equilibrium_img_container>img{
    width:80%;
    height:50%;
}

.equilibrium_text, .days_left, .creator{
    color:hsl(215, 51%, 70%);
    font-size:18px;

}

hr{
 border-top:1px solid hsl(215, 32%, 27%);
}
